{% extends 'index.html' %}

{% block content %}

<div>
  <h2>Добавить книгу</h2>
  <hr>
  <form action="#" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Отправить">
  </form>
</div>

{% endblock %}