<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title> {{ title }}</title>
    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <style>
.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>
<h1 align="center">Веб - приложение для онлайн-библиотеки</h1>
<div class="vertical-menu">
    <a href="#" class="active">Home</a>
    <a href="/">Главная</a>
    <a href="{% url 'books' %}">Книги</a>
    <a href="{% url 'distr_books' %}">Выдача книг</a>
    <a href="/admin">Админка</a>
</div>
{% block content %}
{% endblock %}
</body>
</html>
