{% extends 'index.html' %}

{% block content %}

<section>
<h1 align="center">Страница книги</h1>
 Название: {{ book.title }} <br>
 Издательство: {{ book.publisher }}<br>
 Артикул: {{ book.artikul }}<br>
 Жанр: {{ book.genre.name}}

</section>
{% endblock %}

