{% extends 'index.html' %}

{% block content %}

<section>
<h1  align="center">Список доступных книг</h1>
    <a href="{% url 'add_book' %}"> <button>Добавить книгу</button> </a>
<ul class="bookList">
    {% for book in books %}
        <li>{{ forloop.counter }}. <a href="{% url 'book' id=book.id %}">{{ book.book_name }}</a>
            - {{ book.book_name.publisher }}
            - {{ book.count }} шт. </li>
    {% endfor %}
</ul>

</section>
{% endblock %}



