{% extends 'index.html' %}

{% block content %}

<section>
<h1  align="center">Выдача книг</h1>
<ul class="bookList">
    {% for book in books %}
        <li>{{ forloop.counter }}. {{ book.book_name }}
            - {{ book.book_name.publisher }}
            - {{ book.count }} шт. </li>
    {% endfor %}
</ul>

</section>
{% endblock %}



